[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/Flurry"]
	path = Vendor/Flurry
	url = https://github.com/flurry/Flurry-iOS-SDK.git
[submodule "Vendor/SwiftKeychainWrapper"]
	path = Vendor/SwiftKeychainWrapper
	url = https://github.com/jrendel/SwiftKeychainWrapper.git
[submodule "Vendor/CorePlot"]
	path = Vendor/CorePlot
	url = https://github.com/core-plot/core-plot.git
